[Desktop Entry]
Version=1.0
Name=suda
Comment=suda P2P Cryptocurrency
Exec=suda-qt %u
Terminal=false
Type=Application
Icon=suda128
MimeType=x-scheme-handler/suda;
Categories=Office;Finance;
StartupWMClass=suda-qt
Name[en_IN]=suda-qt.desktop
