# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=SUDA_Coin Daemon SNAP
Comment=testnet
GenericName=SUDA_Coin Digital Currency Daemon Client testnet network
Exec=suda_coin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/suda_coin_testnet.png
MimeType=x-scheme-handler/suda;
Categories=X-Office;X-Finance;
Keywords=internet;suda_coin;zsuda;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=sudad_testnet.desktop
